<html>  

<head>  
	<script src="scripts/angular.min.js"></script>    
    <script src="app.js"></script> 
    <script src= "scripts/angular-route.js" type="text/javascript"></script>  
</head> 
  
<body data-ng-app = "MyApp">  
	<!--  
	The difference between span and div is that a span element is in-line and usually used for a small chunk of HTML inside a line (such as inside a paragraph) whereas a div (division) element is block-line (which is basically equivalent to having a line-break before and after it) and used to group larger chunks of code.
	-->  
	The message is <span strong-message="a strong hello!"></span> 
	<ul word-list="we love templates"></ul>

</body> 

</html>